html {
	font-size: calc(100vw / 1680 * 10);
}
@media (max-width: 768px) {
	html {
		font-size: calc(100vw / 768 * 10);
	}
}
@media (max-width: 425px) {
	html {
		font-size: calc(100vw / 425 * 10);
	}
}
