<div class="wrapper">
	<nav class="navbar">
		<div class="logo">
			<a href="{{ site.url }}">
				<img src="{{ logo }}" alt="I mezzi Agricoli Logo" class="img-res" />
			</a>
		</div>
		<div class="menu__toggle"></div>
	</nav>
	<div class="menu__container">
		<div class="menu__container__wrapper pt-50 pb-50">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</div>
	</div>
</div>
