$primaryColor: #6aa841;
$secondaryColor: #fae845;
$accentColor: #83d051;
$gradient: linear-gradient(219.13deg, #fae845 20.27%, #6aa841 93.33%);
$black: #1e1e1e;
$white: #fff;
$transitionBounce: cubic-bezier(0, 1.4, 1, 1.68);
