.menu__container {
	background-color: $primaryColor;
	height: calc(100vh - 10rem);
	top: 10rem;
	width: 100vw;
	transform: translateX(110%);
	transition: all 1s ease-in-out;
	position: fixed;
	z-index: 99;

	&.active {
		opacity: 1;
		transform: translateX(0%);
	}
}

.menu__container__wrapper {
	@extend %center--column;
	height: 100%;
	width: 100%;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		padding: 3rem 0;
	}

	a {
		@extend %h1;

		color: $white;
		text-decoration: none;
		text-transform: uppercase;
	}
}
