.navbar {
	align-items: flex-end;
	display: flex;
	height: 10rem;
	justify-content: space-between;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}
.menu__toggle {
	height: 5rem;
	width: 5rem;
	position: relative;
	transition: all 1s $transitionBounce;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 0.8rem;
		background-color: $secondaryColor;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
		width: 100%;
		height: 0.8rem;
		background-color: $secondaryColor;
	}
	&.active {
		transform: rotate(225deg);
		&:before,
		&:after {
			background-color: $white;
		}
	}
}
